/* Large desktops and laptops */
@media (min-width: 1200px) {


}
@media (max-width: 1900px) {
    .history {
        background: transparent;
        padding: 0;
        height: auto;
    }
    .history-bg {
        padding: 0 20px;
    }
    .history-bg2 {
        background: #5568FF;
        padding: 0 20px;
    }
    .history-title {
        padding-top: 50px;
    }
}
/* Landscape tablets and medium desktops */
@media (max-width: 1199px) {
    .header-top {
        padding: 20px;
    }
    .nav__menu-icon {
        display: block;
        background: url('../images/menu-icon-white.png');
        width: 33px;
        height: 22px;
    }
    .css-header-fixed .nav__menu-icon{
        background: url('../images/menu-icon-black.png');
    }
    .nav__item {
        display: none;
    }
    .nav__item.nav__media {
        display: block;
    }
    .company-cost {
        justify-content: space-around;
    }
    .our-work {
        background: url('../images/m-work-bg.png') no-repeat;
        background-size: cover;
        height: 100%;
    }
    .work__head {
        padding: 0 30px;
        margin-top: 150px;
    }
    .work-block {
        flex-direction: column;
        margin-top: 0;
    }
    .work__line {
        display: none;
    }
    .work-wrap {
        display: flex;
        align-items: flex-start;
        padding: 0 30px;
        width: 90%;
        margin-bottom: 70px;
    }
    .work-description__text {
        max-width: 100%;
    }
    .work-description__heading {
        margin-top: 0;
    }
    .work-description {
        padding-left: 40px;
    }
    .work-wrap__img {
        flex-direction: column;
    }
    .work__arrow_bottom {
        display: block;
        margin-top: 35px;
    }
    .work-block__line-center {
        margin-bottom: 0;
    }
    .work-graph__description {
        padding-left: 0;
    }
    .ab-test-block {
        justify-content: center;
    }
    .ab-test .container h2.ab-test__head, .ab-test .container h2.ab-test__head + p {
        text-align: left;
    }
    .ab-test-wrap img {
        width: 100%;
        height: auto;
    }
    .ab-test_br {
        display: inline-block;
    }
    .step-block {
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 70px;
    }
    .step-wrap {
        margin-top: 40px;
        margin-right: 0;
        width: 75%;
    }
    .step-wrap:first-child {
        margin-top: 0;
    }
    .footer-content {
        padding-top: 550px;
    }
    .footer-bg {
        padding-top: 200px;
    }
    .slider-integration .slick-next, .slider-history .slick-next {
        right: -15px;
    }
    .ab-test__block-line {
        justify-content: center;
    }
    .ab-test__line {
        max-width: 350px;
    }

}

@media (max-width: 1024px) {
    .price-block {
        flex-wrap: wrap;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    .header-section {
        background: url("../images/m-header-bg.png") no-repeat;
        background-size: cover;
        height: 1091px;
    }
    .header-content {
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }
    .header-content__text {
        order: 1;
        margin-top: 40px;
    }
    h1 {
        font-size: 70px;
    }
    .header-content__img img{
        max-width: 371px;
    }
    .info-block__quan {
        display: block;
        height: 80px;
    }
    .btn-company-block {
        justify-content: center;
        padding: 23px 8px;
    }
    .company-cost__input {
        width: 350px;
    }
    .price-block {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .price-wrap {
        margin-top: 30px;
        margin-right: 0;
        width: 100%;
        max-width: 400px;
    }
    .footer-menu {
        width: 100%;
    }
    .footer-copyright {
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        order: 0;
        margin-top: 0;
    }
    .footer-tel {
        order: 2;
    }
    .footer__member {
        margin-left: 0;
        margin-top: 20px;
    }
    .footer-line {
        display: block;
        width: 100%;
        opacity: 0.2;
        border: 1px solid #FFFFFF;
        margin-bottom: 30px;
    }
    .day-block {
        flex-direction: column;
    }
    .day-wrap__text {
        margin-left: 15px;
    }
    .day-wrap__number {
        display: inline-block;
    }
    .day-wrap__br {
        display: inline-block;
    }
    .step-head {
        margin-top: 30px;
    }
    .ab-test__line {
        max-width: 200px;
    }
    .b-modal-row {
        flex-direction: column;
    }
    .b-modal-main {
        max-width: 545px;
    }
    .b-modal-line {
        width: 100%;
        max-width: 375px;
        height: 1px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {

    .info-wrap {
        flex-direction: column;
        width: 95%;
        position: relative;
    }
    .info-block {
        flex-direction: row;
        width: auto;
        max-width: 100%;
        margin-bottom: 50px;
    }
    .info-block__media-info {
        margin-left: 25px;
    }
    .info-block__quan {
        height: auto;
    }
    .info-block__heading {
        height: auto;
        width: auto;
        max-width: 100%;
    }
    .info-block__text {
        width: auto;
        max-width: 280px;
    }
    .info-block__seo {
        padding-top: 5px;
    }
    .info-arrow {
        display: none;
    }
    .info-arrow-top {
        display: block;
        position: absolute;
        right: 0;
    }
    .info-arrow-bottom {
        display: block;
        position: absolute;
        right: 0;
        top: -21%;
    }
    .info-strekoza {
        display: block;
        position: absolute;
        top: 78%;
        right: -10.5%;
        transform: rotate(-90deg);
        font-size: 26px;
        color: #5568FF;
    }
    .company-cost__block {
        width: 100%;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .company-cost__input {
        width: 100%;
    }
    .company__text_block {
        display: inline-block;
    }
    .price-wrap {
        max-width: 100%;
    }
    .btn-company {
        border: none;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #CCCCCC;
        width: 34%;
    }
    .btn-company:hover {
        padding: 0 0 10px 0;
        border-bottom: 1px solid #5568FF;
    }
    .btn-company.active {
        background: #fff;
        color: #5568FF;
    }
    .our-work {
        background: #5568FF;
        height: 100%;
        margin-top: 0;
    }
    .payment-block {
        flex-direction: column;
        align-items: flex-start;
    }
    .work-padding {
        padding: 30px 0;
    }
    .work__head {
        margin-top: 0;
    }
    .delivery-services-block {
        flex-wrap: wrap;
    }
    .delivery__base {
        width: 97%;
    }
    .delivery__minor {
        width: 100%;
    }
    .delivery__item {
        width: 32%;
    }
    .step-wrap {
        width: 95%;
    }
    .day-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .day-wrap__number {
        font-size: 40px;
        margin-bottom: 0;
    }
    .day-wrap__text {
        font-size: 18px;
    }
    .profit-description {
        flex-direction: column;
        align-items: flex-start;
    }
    .profit-description__head {
        width: 100%;
    }
    .btn-transparent {
        margin-top: 15px;
        order: 1;
    }
    .ab-test__block-line {
        margin-top: 20px;
        justify-content: center;
    }
    .ab-test__line {
        display: none;
    }
    .type-company {
        padding: 60px 20px 0;
    }
    .profit {
        margin-top: 50px;
    }
    .ab-test {
        margin: 50px 0;
    }
    .history {
        margin-top: 50px;
    }
    .footer__member {
        display: block;
        padding-top: 0;
        padding-bottom: 10px;
    }
}
@media (max-width: 600px) {
    .info-arrow-top, .info-arrow-bottom, .info-strekoza {
        display: none;
    }
    h2, .price-commission__head {
        font-size: 22px;
    }
    .price-commission {
        flex-direction: column;
    }

    .price-commission__description {
        text-align: center;
        margin-top: 15px;
        padding-left: 0;
    }
    .footer-copyright {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-tel {
        width: 100%;
        text-align: left;
    }
    .footer-bg {
        padding-top: 300px;
    }
    .slider-history .slick-slide img {
        /*width: 287px !important;*/
        /*height: 282px;*/
        margin: 0 auto;
    }
    .price-commission__text {
        font-size: 18px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .header-section {
        background: url("../images/s-header-bg.png") no-repeat;
        background-size: cover;
        height: 918px;
    }
    .header-content__img img{
        max-width: 283px;
    }
    h1 {
        font-size: 35px;
    }
    a, p, li {
        font-size: 14px;
    }
    .logo__text {
        font-size: 20px;
    }
    .logo__icon img {
        max-width: 22px;
    }
    .nav__menu-icon {
        max-width: 23px;
    }
    .header-content__delivery {
        font-size: 16px;
    }
    .header-content__paragraph {
        font-size: 14px;
    }
    .nav__item_entrance {
        margin-left: 25px;
    }
    .btn-overall-small {

        max-width: 100%;
    }
    .info {
        padding: 30px 20px;
    }
    .info-wrap {
        width: 100%;
    }
    .info-strekoza-media {
        display: block;
        font-size: 22px;
        color: #5568FF;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .info-block__quan {
        font-size: 22px;
    }
    .info-block__heading {
        font-size: 18px;
    }
    .info-block__text {
        font-size: 14px;
    }
    .info-wrap_indent {
        margin-top: 0;
    }
    .info-block {
        padding: 0;
    }
    .btn-company {
        font-size: 14px;
        width: auto;
        padding-right: 25px;
    }
    .company-cost__label {
        font-size: 14px;
    }
    .price-wrap {
        padding: 24px 20px;
    }
    .price__quan {
        font-size: 16px;
    }
    .price__description {
        font-size: 22px;
    }
    .price__sub {
        font-size: 14px;
    }
    .price__details {
        font-size: 16px;
    }
    .price-all__bg {
        margin: 30px -21px 0;
    }
    .price-all__count {
        font-size: 30px;
    }
    .btn-overall {
        font-size: 14px;
        min-width: auto;
    }
    .work-description__heading {
        font-size: 18px;
    }
    .work-wrap, .work__head {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }
    .work__arrow_bottom {
        display: none;
    }
    .work-description__heading-icon {
        width: 100%;
    }
    .work-wrap__icon {
        width: 50px;
    }
    .work-description {
        padding-left: 20px;
    }
    .work-wrap {
        margin-bottom: 20px;
    }
    .work-block__line-right {
        margin-bottom: 0;
    }
    .work-block__line-right {
        margin-bottom: 10px;
    }
    .work-graph__img_indent {
        margin-right: 0;
    }
    .ab-test__block-line {
        justify-content: center;
    }
    .ab-test__line {
        display: none;
    }
    .step-wrap__top {
        height: 80px;
    }
    .step-wrap__img_clock {
        width: 50px;
        height: auto;
    }
    .step-wrap__img_ui {
        width: 60px;
        height: auto;
    }
    .step-wrap__img_number {
        width: 67px;
        height: auto;
    }
    .footer-menu {
        flex-wrap: wrap;
    }
    .nav__footer_width {
        width: 50%;
    }
    .footer-content {
        padding-top: 400px;
    }
    .footer-bg {
        padding-top: 400px;
    }
    .footer-tel {
        display: none;
    }
    .footer-tel__menu {
        display: block;
        padding-top: 4px;
        text-align: right;
    }
    .footer__number {
        font-size: 22px;
    }
    .nav__footer_support {
        margin-top: 84px;
    }
    .cssmodal figure {
        padding: 0;
    }
    .modal-main {
        max-width: 279px;
    }
    .modal-label {
        margin-bottom: 12px;
    }
    .modal-input {
        max-width: 235px;
        font-size: 14px;
        padding: 16px 20px 16px 20px;
    }
    .modal-field {
        margin-bottom: 20px;
    }
    .auth-text {
        font-size: 12px;
        margin-bottom: 28px;
    }
    .block-link__size {
        font-size: 12px;
    }
    .auth-submit {
        padding: 16px;
    }
    .modal-content {
        padding: 22px;
    }
    .icon-close {

    }
    .smallclose {
        background: url('../images/icon-close-small.png') no-repeat;
        width: 16px;
        height: 16px;
    }
    .eye:before {
        top: 18%;
    }
    .b-modal-line {
        max-width: 235px;
        margin-top: 20px;
    }
    .complete__head {
        font-size: 22px;
    }
    .complete__text {
        font-size: 14px;
    }

}

/* Iphone 5 */
@media (max-width: 320px) {
    .btn-company {
        padding-right: 8px;
    }
}