/*--------- Общие стили для сайта ---------*/

.container {
    width: 1190px;
    max-width: 100%;
    margin: 0 auto;
}
body {
    font-family: "Muller";
}
h1 {
    font-size: 80px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
    font-weight: bold;
}
h2.white_color {
    color: #fff;
}
h3 {
    font-size: 22px;
}
p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
}
a {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}
.trek {
    font-weight: bold;
}
.strekoza {
    text-transform: uppercase;
}
.nav_active {
    font-weight: 500;
}
.btn-overall {
    display: block;
    width: 100%;
    max-width: 276px;
    text-align: center;
    padding: 18px 20px;
    background: #EF5F2E;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}
.btn-overall-small {
    width: 100%;
    max-width: 206px;
}
/*--------- Стили для header ---------*/
.header-section {
    background: url("../images/header-bg.png") no-repeat;
    background-size: cover;
    max-width: 100%;
    color: #fff;
    height: 900px;
    background-position-y: bottom;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
}
.header-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
}
.logo__text {
    padding-left: 10px;
    padding-top: 3px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
}
.nav__item {
    margin-left: 25px;
}

.nav__link:hover  {
    text-shadow: 0 0 .9px #fff, 0 0 .9px #fff, 0 0 .9px #fff;
}
.nav__item_entrance {
    margin-left: 85px;
}
.demo__item {
    margin-left: 30px;
}
.demo__bg {
    padding: 20px 30px;
    background: #EF5F2E;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
}
.header-content_padding {
    padding: 0 20px;
}
.header-content__text {
    width: 485px;
    max-width: 100%;
}
.header-content__delivery {
    margin-bottom: 40px;
}
.header-content__paragraph {
    margin-bottom: 60px;
}
.header-content__item {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    list-style: disc;
    margin-left: 15px;
}
.nav__menu-icon {
    display: none;
}
.css-header-fixed {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 5px 5px -5px #333;
    z-index: 2;
    transition-duration: 0.9ms;
}
.css-header-fixed .strekoza {
    color: #5568FF;
}
.css-header-fixed .nav__link {
    color: #000;
}
.css-header-fixed .nav__link:hover {
    padding-bottom: 31px;
    border-bottom: 2px solid #EF5F2E;
}
.css-header-fixed .logo__icon_violet path {
    fill: #5568FF;
}
.nav__link {
    position: relative;
}
.nav-sub {
    display: none;
    position: absolute;
    top: 72px;
}
.nav-sub:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 19px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(255, 255, 255, 1);
}
.css-header-fixed .nav-sub:before {
    display: none;
}

.nav-sub__flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: #fff;
    padding: 20px 15px;
}
.nav-sub__width {
    width: 100%;
}
.nav-sub__item {
    width: 190px;
    padding: 10px 0 10px 10px;
}
.nav-sub__link {
    color: #000;
    display: block;
    font-size: 18px;
}
.nav-sub__item:hover {
    background: #F6F6F6;
    border-right: 1px solid #EF5F2E;
}
.nav-sub__item:hover .nav-sub__link {
    color: #5568FF;
}
.nav_top {
    top: 84px;
    box-shadow: 0px 5px 15px -5px #333;
}
/*--------- Стили для секции info ---------*/

.info {
    padding: 160px 20px 0;
}
.info-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.info-wrap_indent {
    margin-top: 50px;
}
.info-block {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    padding: 0 20px;
    box-sizing: border-box;
}
.info-block__icon {
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
}
.info-block__seo {
    padding-top: 20px;
}
.info-block__quan {
    display: inline-block;
    font-size: 40px;
    color: #5568FF;
    font-weight: bold;
    margin-bottom: 10px;
}
.info-block__heading {
    font-size: 20px;
    color: #5568FF;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 220px;
    height: 60px;
}
.info-block__text {
    max-width: 240px;
    font-weight: bold;
}
.info-str {
    color: #5568FF;
    margin: 0 15px;
    font-size: 30px;
    padding-top: 3px;
}
.info-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 0 20px;
}
.arrow-left {
    display: flex;
    flex-direction: column;
}
.arrow-right {
    display: flex;
    flex-direction: column;
}
.info-arrow_width {
    width: 100%;
    max-width: 329px;
}
.arrow-bottom_indet {
    margin-bottom: 12px;
}
.arrow-top_indet {
    margin-top: 16px;
}
.info-strekoza, .info-arrow-top, .info-arrow-bottom, .info-strekoza-media {
    display: none;
}

/*--------- Стили для секции type company ---------*/
.type-company {
    padding: 160px 20px 0;
}
.type-company__text {
    font-size: 22px;
    margin-top: 15px;
}
.line-border {
    margin: 45px 0;
    max-width: 100%;
    border-bottom: 1px solid #ccc;
}
.company-txt {
    display: block;
    font-size: 18px;
}
.btn-company-block {
    margin-top: 20px;
    display: flex;
    padding: 23px 0;
}
.btn-company {
    color: #5568FF;
    font-size: 18px;
    text-decoration: none;
    padding: 27px 0;
    border: 1px solid #5568FF;
    display: block;
    width: 100%;
    max-width: 258px;
    text-align: center;
    font-weight: 500;
}
.btn-company.active {
    background: #5568FF;
    color: #fff;
}
.btn-company__border_left {
    border-left: none;
}
.btn-company__border_right {
    border-right: none;
}
.company-cost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 62px;
}
.company-cost__block {
    margin-top: 20px;
}
.company-cost__label {
    display: block;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
}
.company-cost__input {
    width: 375px;
    max-width: 100%;
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    color: #000;
    border: 1px solid #c3c3c3;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: bold;
}
.payment-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 82px;
}
.payment-block__link {
    font-size: 18px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #5568FF;
}
.price-block {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.price-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 48px 35px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 25px;
    border: 1px solid transparent;
}
.price-wrap:hover {
    border: 1px solid #5568FF;
}
.price-wrap:last-child {
    margin-right: 0;
}
.price__quan {
    font-size: 22px;
}
.price__description {
    font-size: 20px;
    line-height: 26px;
    padding-top: 24px;
    color: #5568FF;
    font-weight: 500;
}
.price__description_number {
    font-size: 30px;
    line-height: 38px;
    font-weight: 800;
}
.price__sub {
    font-size: 18px;
    color: #000000;
    opacity: 0.5;
    padding: 15px 0;
}
.price__toggle {
    padding: 25px 0 48px;
}
.price__details {
    font-size: 18px;
    text-decoration-line: underline;
    color: #5568FF;
    cursor: pointer;
}
.price__btn-overall {
    margin: 0 auto;
}
.company__text_block {
    display: block;
}
.price-commission {
    background: #5568FF;
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 23px 37px;
}
.price-commission__description {
    padding-left: 38px;
}
.price-commission__head {
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
}
.price-commission__text{
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
}

.price-all {
    display: none;
}
.price-all__block {
    margin-top: 30px;
}
.price__description_number.price-all_number {
    font-size: 38px;
}
.price_comisson {
    color: #EF5F2E;
}
.price-all__paragraph {
    font-size: 18px;
    font-weight: 300;
    color: #000;
}
.price-all__bg {
    background: #5568FF;
    margin: 30px -36px 0;
    padding: 27px 35px;
    color: #fff;
}
.price-all__total {
    font-size: 18px;
}
.price-all__count {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
.price-all__sum {
    margin-top: 20px;
    font-size: 18px;
}
/*--------- Стили для секции наша работа ---------*/
.our-work {
    background: url(../images/work-bg.png) no-repeat;
    background-size: cover;
    height: 1960px;
    color: #fff;
    padding: 0 20px;
}
.work-padding {
    padding: 350px 0;
}
.work__head {
    margin-bottom: 80px;
}
.work-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
}
.work-block__line-center {
    justify-content: center;
    margin: 30px 0;
    padding-right: 10%;
}
.work-block__line-right {
    justify-content: flex-end;
    margin-bottom: 30px;
    padding-right: 15%;
}
.work-wrap {
    width: 31%;
}
.work-wrap__img {
    height: 75px;
    display: flex;
    align-items: center;
}
.work__line {
    margin-left: 15px;
}
.work__arrow_bottom {
    display: none;
}
.work-description__heading {
    font-size: 22px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: 500;
}
.work_underline {
    text-decoration: underline;
}
.work-description__heading-icon {
    background: url('../images/attention.png') no-repeat;
    width: 33px;
    height: 33px;
    margin-left: 15px;
}
.work-description__text {
    margin-top: 15px;
    width: 100%;
    max-width: 332px;
}
.work-graph__center {
    justify-content: center;
}
.work-graph__flex {
    display: flex;
    width: 52%;
}
.work-graph__flex .work-description__text {
    max-width: 100%;
}
.work-graph__heading {
    margin-top: 0;
}
.work-graph__img_indent {
    margin-right: 30px;
}
.work-graph__btn_indent {
    margin-top: 30px;
}
/*--------- Стили для секции ab-test ---------*/

.ab-test {
    margin: 150px 0;
    padding: 0 20px;
}

.ab_weight {
    font-weight: 500;
}
.ab-test-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.ab-test-wrap {
    width: 100%;
    max-width: 380px;
    margin-top: 30px;
}
.ab-test-wrap img {
    height: 270px;
}
.ab-test_br {
    display: block;
}
.ab-test__title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 38px;
}
.ab-test__description {
    padding: 0 6px;
}
.ab-test__text {
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}
.ab-test__block-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.ab-test__line {
    width: 100%;
    max-width: 370px;
    height: 1px;
    background: #ccc;
}

/*--------- Стили для секции delivery-services-block ---------*/
.delivery-services {
    padding: 0 20px;
    margin-bottom: 30px;
}
.delivery-services__head {
    margin-bottom: 30px;
}
.delivery-services-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.delivery__base {
    width: 52%;
}
.delivery__base img{
    width: 100%;
}
.delivery__minor {
    width: 53%;
}
.delivery__item {
    display: inline-block;
    width: 32%;
}
.delivery__item-img {
    width: 100%;
    height: auto;
}
.delivery__link {
    font-size: 18px;
    color: #5568FF;
    margin-left: 15px;
}
/*--------- Стили для секции integration ---------*/

.integration {
    margin: 180px 0;
    padding: 0 20px;
}

.slider-integration {
    margin-top: 50px;
}
.sl-success {
    padding: 0 20px;
}
.slider-integration .slick-slide img{
    /*width: 270px !important;*/
    height: 190px;
    margin: 0 auto;
}
.slider-integration__flex {
    display: flex;
    flex-direction: column;
}
.slider-history {
    margin-top: 50px !important;
}
.slider-history .slick-slide img {
    /*width: 287px !important;*/
    /*height: 282px;*/
    margin: 0 auto;
}
.slider-history__flex {
    display: flex;
    align-items: center;
}
/*--------- Стили для секции history ---------*/
.history {
    background: url("../images/history-bg.png") no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 0 20px;
    background-position-y: 39%;
    height: 1532px;
}
.profit {
    margin-top: 150px;
    padding: 0 20px;
}
.profit-description__head {
    width: 42%;
}
.profit-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-transparent {
    background: #fff;
    color: #EF5F2E;
    border: 1px solid #EF5F2E;
}
.slider-history {
    margin-top: 30px;
}
.history-title {
    padding-top: 250px;
}
.day-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 70px;
}
.day-wrap__number {
    display: block;
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}
.day-wrap__text {
    font-size: 22px;
    font-weight: 300;
    color: #fff;
}
.day-wrap__br {
    display: block;
}
.step-head {
    margin-top: 240px;
    position: relative;
    padding-bottom: 270px;
}
.step-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 60px;
}
.step-wrap {
    background: #fff;
    padding: 20px 30px;
    width: 47%;
    display: inline-block;
    margin-right: 20px;
}
.step-wrap__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 15px;
    height: 150px;
}
.step-wrap__img_left {
    padding-top: 20px;
}
.step-wrap__head {
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
}
.step-wrap__text {
    margin-top: 15px;
    font-size: 18px;
}
.step-wrap__bottom {
    margin-top: 50px;
    margin-bottom: 20px;
}
.js-counter {
    animation-duration: 0.2s;
    animation-delay: 0s;
}
/*--------- Стили для footer ---------*/
.footer-bg {
    background: #2E3CB0;
    padding: 0 20px;
}
.footer-content {
    padding-top: 350px;
    padding-bottom: 80px;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
}
.footer-tel {
    width: 30%;
    text-align: right;
}
.footer-copyright {
    margin-top: 70px;
}
.footer-line {
    display: none;
}
.nav__footer_indent {
    margin-bottom: 20px;
}
.nav__footer_support {
    margin-top: 40px;
}
.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer__number, .footer__sup {
    font-size: 25px;
    font-weight: bold;
}
.footer__member {
    margin-left: 15px;
}
.footer__link:hover {
    text-shadow: 0 0 0.9px #fff, 0 0 0.9px #fff, 0 0 0.9px #fff;
}